{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rate/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="content">
  <br>
    <br><br><br>
    {% if user.is_authenticated %}
    <a href="/logout">logout</a>
    <p>hello ,{{user.first_name}}</p>
{% else %}
    <li><a href="/login">login</a></li>
    <li><a href="/register">Register</a></li>
    <p>hello</p>
{%endif%}
<br>
<br>
<br>
<br>
    <div class="d-flex justify-content-around">
    {% for i in a%}
    <div class="card" style="width: 18rem;border: 2px solid blue;">
        
        <div class="card-body">
          <h5 class="card-title">{{i.course_id}}</h5>
          <p class="card-text">Department: {{i.course_department}}</p>
          <p class="card-text">Course Description<br>: {{i.course_description}}</p>
          <a href="{{i.course_id}}" class="btn btn-primary">More</a>
        </div>
      </div>
    {%endfor%}
</div>
<br>
    <br>
    <br>
    <br>
    <br>
    <footer>
    <li><a href="{%url 'course' %}"> all courses</a></li>
    <li><a href="{%url 'prof_info' %}">all professors</a> </li>
    <li><a href="{%url 'index' %}">main page</a></li>
    <li><a href="{%url 'complaints' %}">complaints</a></li>
    <li><a href="{% url 'forum'%}">forum</a></li>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>