p{
    color: aqua;
}
.lol{
    background-color: black;
    color: cornsilk;
}
.itemconfiguration
{
		height:440px;
		width:1800px;
		/* background-color:#CCC; */		
        overflow-y:auto;
		
		position:relative;
		margin-left:-5px;
}
.left_contentlist{
width:215px;
float:left;
padding:0 0 0 5px;
position:relative;
float:left;
border-right: 1px #f8f7f3 solid;
/* background-image:url(images/bubble.png); */
/* background-color: black; */
}